{% extends "portfolio/index.html" %}
{% load static %}
{% block content %}

 <!--Fields of xp-->
         <div class="card-group">
  <div class="card fw-bold">
    <img src="{% static 'Images/267_Python-512.png' %}" class="card-img" alt="..." height="250" width="150">
    <div class="card-body">
      <h5 class="card-title">Python</h5>
      <p class="card-text">I have a large experience set when it comes to python ,having worked on thousands of python projects and
             consulting </p>
      <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
    </div>
  </div>
  <div class="card fw-bold">
    <img src="{% static 'Images/html_icon.png' %}" class="card-img" alt="..." height="250" width="150">
    <div class="card-body">
      <h5 class="card-title">HTML</h5>
      <p class="card-text">My knowledge in HTML is broad and I have sufficient experience in working with it to design an array of beautiful and functional webpages</p>
      <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
    </div>
  </div>
  <div class="card fw-bold">
    <img src="{% static 'Images/919826.png' %}" class="card-img" alt="..." height="250" width="150">
    <div class="card-body">
      <h5 class="card-title">CSS
      </h5>
      <p class="card-text">My knowledge in CSS is broad and I have sufficient experience in working with it to design an array of beautiful and functional webpages</p>
      <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
    </div>

{% endblock %}